<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.xiaomiparts"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:persistent="true"
        android:directBootAware="true"
        android:defaultToDeviceProtectedStorage="true">

        <receiver android:name=".services.BootCompletedReceiver" android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.thermal.ThermalComposeActivity"
            android:label="@string/thermal_title"
            android:icon="@drawable/ic_thermal_settings"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/thermal_summary" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_thermal_settings" />
        </activity>

        <activity
            android:name=".ui.dim.DcDimmingActivity"
            android:label="@string/dc_dimming_title"
            android:icon="@drawable/ic_dcdimming"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/dc_dimming_summary" />
        </activity>

        <activity
            android:name=".ui.hbm.HBMActivity"
            android:label="@string/hbm_title"
            android:icon="@drawable/ic_hbm_tile"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/hbm_summary" />
        </activity>

        <activity
            android:name=".ui.charge.ChargeActivity"
            android:label="@string/charge_bypass_title"
            android:icon="@drawable/ic_dc_tile"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.battery" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/charge_bypass_summary" />
        </activity>

        <activity
            android:name=".ui.revanced.ReVancedActivity"
            android:label="@string/revanced_title"
            android:icon="@drawable/youtube_activity_24px"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/revanced_summary" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/youtube_activity_24px" />
        </activity>

        <service android:name=".services.ThermalService" android:exported="false" />
        
        <service
            android:name=".services.DcDimmingTileService"
            android:exported="true"
            android:icon="@drawable/ic_dc_tile"
            android:label="@string/dc_dimming_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service android:name=".services.AutoHBMService" android:exported="false" />

        <service
            android:name=".services.HBMModeTileService"
            android:exported="true"
            android:icon="@drawable/ic_hbm_tile"
            android:label="@string/hbm_mode_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".services.BypassChargeTileService"
            android:exported="true"
            android:icon="@drawable/charger_24px"
            android:label="@string/charge_bypass_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>
</manifest>